@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=$wap");

@layer base {
  body {
    @apply font-[Montserrat];
  }
}

.bg-img {
  background-image: url("./assets/accBackground.png");
}

.bg-img1 {
  background-image: url("./assets/Background.png");
}
